extends ../layout

block content
  h1 #{fire_fighter.name}
  p.lead #{fire_fighter.number}, #{fire_fighter.rank}

  if fire_fighter
    .list-group
      each val, index in fire_fighter.genDutyCounts
        - var indexString = index.charAt(0).toUpperCase() + index.slice(1)
        - var splitname = indexString.split(/(?=[A-Z])/)
        a(href="#").list-group-item.list-group-item-action #{splitname[0]} #{splitname[1]} : #{val}
      each val, index in fire_fighter.driverCounts
        - var indexString = index.charAt(0).toUpperCase() + index.slice(1)
        - var splitname = indexString.split(/(?=[A-Z])/)
        a(href="#").list-group-item.list-group-item-action #{splitname[0]} #{splitname[1]} : #{val}
      each val, index in fire_fighter.rescueCounts
        - var indexString = index.charAt(0).toUpperCase() + index.slice(1)
        - var splitname = indexString.split(/(?=[A-Z])/)
        a(href="#").list-group-item.list-group-item-action #{splitname[0]} #{splitname[1]} : #{val}
      each val, index in fire_fighter.brontoCounts
        - var indexString = index.charAt(0).toUpperCase() + index.slice(1)
        - var splitname = indexString.split(/(?=[A-Z])/)
        a(href="#").list-group-item.list-group-item-action #{splitname[0]} #{splitname[1]} : #{val}
  else
    h2 ah ma gad